@font-face {
	src: url('./Raleway-Regular.woff') format('woff'),
			url('./Raleway-Regular.woff2') format('woff2');
	font-family: 'Raleway';
	font-weight: 400;
}

@font-face {
	src: url('./Raleway-Bold.woff') format('woff'),
			url('./Raleway-Bold.woff2') format('woff2');
	font-family: 'Raleway';
	font-weight: 700;
}
